body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 0 20px;
}

nav {
  flex: 0 0 300px;
  padding: 10 10px;
}

aside {
  padding: 10 10px;
}
